* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: white;
    --text-color: black;
}

.dark-theme {
    --background-color: #212121;
    --text-color: #ffffff;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    background-color: var(--background-color);
    color: var(--text-color);
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    animation: slideDown 0.5s ease-in-out;
}

.navbar h1 {
    font-size: 25px;
    color: white;
    margin-right: 20px;
}

.navbar button,
.navbar input[type="text"] {
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    /* Rimuove lo sfondo */
    transition: background-color 0.3s ease, transform 0.2s ease;
    min-width: 120px;
    font-size: 18px;
    font-weight: bolder;
}

.navbar input[type="text"] {
    color: #000000;
}

.navbar button:hover {
    background-color: transparent;
    /* Sfondo trasparente */
    color: #c1bdbd;
    /* Cambia il colore del testo */
    transform: scale(1.05);
    /* Mantiene l'effetto di ingrandimento */
}

.navbar input[type="text"] {
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 4px;
    width: 100%;
    max-width: 250px;
    transition: max-width 0.3s ease;
    padding: 10px;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.navbar-buttons {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.main-content {
    display: flex;
    flex-grow: 1;
    padding: 20px;
    width: 100%;
    height: calc(100vh - 60px);
    gap: 10px;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 0.5s forwards;
}

.slogan-div,
.prossime-celebrazioni-div {
    background-color: #e1e1e1;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color);
    color: var(--text-color);
}

.slogan-div {
    flex: 0 0 60%;
    line-height: 1.8;
    /* Improve line spacing */
}

.slogan-div p {
    margin-bottom: 15px;
    /* Space between paragraphs */
}

.prossime-celebrazioni-div {
    background-color: #d1d1d1;
    flex: 0 0 40%;
}


.slogan-div h2,
.prossime-celebrazioni-div h2 {
    font-size: 20px;
    color: #333;
}

@keyframes slideDown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        align-items: flex-start;
    }

    .navbar h1 {
        margin-bottom: 10px;
    }

    .navbar-buttons {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menu-toggle {
        display: block;
        margin-bottom: 10px;
    }

    .navbar.active .navbar-buttons {
        display: flex;
    }

    .navbar input[type="text"] {
        max-width: 100%;
        margin-top: 10px;
    }

    .main-content {
        flex-direction: column;
    }

    .slogan-image {
        display: flex;
        flex-direction: column;
        /* Imposta disposizione orizzontale su schermi grandi */
        width: 100%;
        /* Occupa l'intera larghezza del contenitore */
        gap: 20px;
        /* Spazio tra immagine e testo */
    }
}

.prossime-celebrazioni-div {
    background-color: #f9f9f9;
    /* Light background for the section */
    border-radius: 8px;
    /* Rounded corners */
    padding: 20px;
    /* Padding around the section */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color);
    color: var(--text-color);
}

.prossime-celebrazioni-div h2 {
    font-size: 24px;
    /* Font size for the heading */
    color: #333;
    /* Dark color for the heading */
    margin-bottom: 15px;
    /* Space below the heading */
    color: var(--text-color);
}

#celebrazioneList {
    list-style-type: none;
    /* Remove bullet points */
    padding: 0;
    /* Remove default padding */
}

#celebrazioneList li {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: var(--background-color);
    color: var(--text-color);
}

#celebrazioneList li:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Stili di base per i link */
#celebrazioneList li a {
    display: block;
    color: #000000;
    /* Colore del testo predefinito (tema chiaro) */
    text-decoration: none;
    font-weight: bold;
    height: 100%;
    /* Ensures the anchor fills the list item */
    transition: background-color 0.3s, color 0.3s;
}

/* Hover per tema chiaro */
#celebrazioneList li a:hover {
    text-decoration: underline;
    color: var(--text-color);
    /* Mantiene il colore del tema corrente */
    background-color: #cbcbcb;
    /* Sfondo grigio chiaro */
}

/* Tema scuro - colore di default */
.dark-theme #celebrazioneList li a {
    color: #ffffff;
    /* Il testo sarà bianco in modalità scura */
}

/* Hover per tema scuro */
.dark-theme #celebrazioneList li a:hover {
    background-color: #3a3a3a;
    /* Colore di sfondo per l'hover nel tema scuro */
    transform: translateY(-2px);
}




.slogan-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 18px;
}

.slogan-text {
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    line-height: 1.6;
}

.slogan-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slogan-image .image,
.slogan-image .text {
    width: 100%;
    /* Assegna larghezze per il layout desktop */
    margin: 10px;
}


.slogan-image img {
    max-width: 100%;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}


.responsive-container {
    margin-top: 20px;
    padding: 20px;
}

h1,
h2,
h3 {
    margin-bottom: 10px;
    color: var(--text-color);
    /* Mantiene il colore del tema corrente */
    /* Change the color for headings */
}

p {
    margin-bottom: 15px;
    /* Add margin for paragraphs */
}

.response-list {
    margin-left: 20px;
    /* Indent for lists */
}

.response-list b {
    font-weight: bold;
    /* Make response bold */
}

/* Stile di default per il link .link_salmo (tema chiaro) */
.link_salmo {
    color: #007bff;
    /* Colore blu chiaro per il link */
    text-decoration: none;
    transition: color 0.3s;
}

.link_salmo:hover {
    color: #0056b3;
    /* Colore blu più scuro al passaggio del mouse */
    text-decoration: underline;
}

/* Stile del link .link_salmo in modalità tema scuro */
.dark-theme .link_salmo {
    color: #4da6ff;
    /* Colore blu chiaro per il link nel tema scuro */
}

.dark-theme .link_salmo:hover {
    color: #1a8cff;
    /* Colore più acceso quando si passa sopra nel tema scuro */
    text-decoration: underline;
}